<main class="container text ">
  <p class="h3 my-3">Lista Position</p>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="fw-normal mb-1">1</p>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">John Doe</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">Dec</p>
          </td>
          <td>
            <button type="button" class="btn btn-success"><i class="bx bx-pencil"  aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger"><i class="bx bx-trash " aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
</main>
